@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
button, body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --themeBlue:#128ddf;
    --gray: #efefef;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner{
    min-height: 100vh;
    width: 100%;
    background-image:url("https://img.freepik.com/free-photo/medium-shot-doctors-wearing-protective-equipment_23-2149994405.jpg?w=1380&t=st=1679558198~exp=1679558798~hmac=d104d919307ddb4f502c883edcff484c21ffe189cd6a1797f03f0a48d4a05ec1");
    background-size: cover;
    background-attachment: auto;

}

.row{
    margin-top: 50px;
}
